{% extends "::base.html.twig" %}

{% block title %}{{ 'nos services'|title }}{% endblock title %}


	{% block body %}

		{# Menu à prévoir avec scroll spy ici (inclus dynamiquement bien évidement) #}

		<div class="item-page">

				<h2>
						Les services SPECTASONIC		</h2>








			<p>
				SPECTASONIC, c'est avant tout une équipe qui intervient sur divers domaines de la structure du son en général.</p>
			<p>
				Etudes industrielles ou implémentation de salles de concert, d'auditorium, font partie des compétences expertes de SPECTASONIC.<br>
				<br>
				Des ingénieurs de haut niveau spécialisés dans les formations intiales acoustiques.<br>
				<br>
				Notre équipe préfère les challenges complexes impliquant une parfaite connaissances des enjeux.<br>
				<br>
				La clientèle de particuliers la plus exigeante peut aussi faire appel à nos services pour l'implémentation d'un salon musical ou un home ciméma.<br>
				<br>
				Les résultats sont mesurés et garantis par nos experts grâce à un parc d'équipements de pointes : microphones spéciaux, mesure de la fréquences, générateur de bruits blanc.<br>
				<br>
				Avec SPECTASONIC, vous avez l'assurance de maximiser les ressources dont vous disposez.<br>
				<br>
				Un travail de qualité se passe de discours.</p>
			<p>
				<br>
				Ecoutez, le résultat vous laissera &nbsp;sans voix.</p>

		</div>

		<div class="leading-0">

			<h2>
				Installation HIFI sur mesure
			</h2>





			<p>
				Chez Spectasonic nous maîtrisons l'ensemble de la chaine HIFI et depuis plus de mettons 10 ans notre expérience à votre service même si vous n'achetez rien chez nous car comme vous, nous aimons le son et la pureté de la restitution !
			</p>
			<p>
				Avant tout, nous choisisssons avec vous l'ensemble des éléments Hi-Fi qui sont sélectionnés pour fournir une qualité audio optimale et pour reproduire la totalité des sons entendus par l'oreille humaine.
			</p>
			<p style="text-align: center;">
				<img style="width: 400px; height: 268px; float: center;" src="http://87.106.251.51/PROD/spectasonic/files/images/ScreenShot001.png" class="image-left" alt="">
			</p>
			<p>
				Le lecteur Hi-Fi est l'élément qui va lire votre source : CD, vinyle ou musique au format sans perte. Nous veillons à ce qu'il offre un signal audio non compressé et la compatibilité de source la plus large pour ne pas être limité.
			</p>
			<p>
				Enfin, l'amplificateur stéréo c'est l'élément qui va traiter votre source une fois qu'elle sera lue par le lecteur Hi-Fi.<br>
				Son objectif : envoyer aux enceintes une qualité sonore Haute Définition. Lors de votre choix, optez donc pour un ampli doté d'une puissance supérieure à celle de vos enceintes. Vous bénéficierez ainsi d'une bonne sonorisation. Vérifiez aussi que la distorsion harmonique (D.H.T) est faible. En effet, plus cette donnée est élevée, plus la qualité audio est détériorée.
			</p>
			<p>
				Notre équipe de spécialistes s'emploiera à concevoir et livrer une solution complète : éléments, insonorisation et conseils.
			</p>
			<p>
				Les étapes :&nbsp;
			</p>
			<p>
				- L'étude et l'analyse de vos besoins<br>
				- Le conseil dans le choix du matériel, des aménagements, de la décoration<br>
				- L'encadrement des travaux<br>
				- L'installation et la configuration du matériel<br>
				- L'assistance à la prise en main et la maintenance

			</p>
			<p>
				Faîtes appel à notre expertise pour bénéficier d'une solution sur mesure pour votre projet.

			</p>

			<div class="leading-0">

				<h2>
					"Sur mesure"			</h2>





					<h1>
						Réparations HIFI</h1>
						<p>
							Vous pouvez nous confier tous travaux de réparation. Notre équipe de spécialistes en réparation d'éléments HIFI vous rendra votre installation "comme neuve" lui conférant une nouvelle vie.
						</p>
						<p>
							Toutes les marques les plus célèbres (mais aussi les moins connues) n'ont aucun secret pour nous. Nous garantissons nos réparations pendant 1 an (pièces et main d'oeuvre ou échange standard).
						</p>
						<h1>
							Amplis et enceintes HIFI sur mesure</h1>
							<p>
								Chez Spectasonic nous prônons un son HIFI de qualité.
							</p>
							<p>
								Nos amplificateurs SPECTALIZER sont le fruit de près de 30 ans d'expérience et d'une application minitieuse apportée à leur fabrication.
							</p>
							<p>
								Pourtant, nous sommes conscients que certains de nos clients ont des exigences particulières et nous sommes toujours à leur écoute.
							</p>
							<p style="text-align: center;">
								<br>
								<img style="width: 400px; height: 170px; float: center;" src="http://87.106.251.51/PROD/spectasonic/files/images/ScreenShot002.png" class="image-left" alt=""><br>
								&nbsp;
							</p>
							<p>
								Ainsi nous avons répondu par le passé à des demandes spécifiques et aujourd'hui nous pouvons prendre en main n'importe quel projet de HIFI (amplificateurs, pré amplis, cables ou enceintes)
							</p>
							<p>
								Un soin particulier est apporté à la diminution drastique du bruit. &nbsp;Le choix des amplificateurs opérationnels se porte habituellement sur le LF356, pour son facteur de bruit en entrée de 12 nV x √Hz.
							</p>
							<p>
								Ainsi en mode 100 x, le bruit rapporté à l’entrée est inférieur à 10 µVac sur 200kHz et inférieur à 2 µVac sur 320Hz.
							</p>
							<p>
								Ceci permet la mesure d’une ‘’ronflette’’ de 20 µVac (6 mVpp en sortie) avec un rapport signal bruit de 20dB.<br>
								Il tient dans un boîtier entièrement métallique, blindage oblige, de 130x130x65 mm.&nbsp;
							</p>
							<p>
								Qualité de tonalité remarquable et rendement puissant, c'est l'objectif que nous recherchons.
							</p>



							<div class="item-separator"></div>
						</div>


						<div class="item-separator"></div>
					</div>

					<hr/>

		<div class="item-page">

			<h2>
					Nous sommes garants de votre fidélité!		</h2>



			<p>
				&nbsp;</p>
			<p>
				<img style="width: 426px; height: 46px; float: left;" src="http://87.106.251.51/PROD/spectasonic/files/images/littleshop/lord.JPG" class="image-left" alt=""></p>
			<p>
				&nbsp;</p>
			<p>
				&nbsp;</p>
			<p>
				<img style="width: 180px; height: 197px; float: right;" src="http://spectasonic.com/images/littleshop/violon-noir.jpg" class="image-right" alt=""><i>SPECTASONIC oeuvre avec succès depuis 1983 pour obtenir la satisfaction maximale de clients de par le monde qui sont à la recherche de la perfection sonore.</i><br>
				<i>Ses valeurs : la sélection des meilleures technologies et des composants, une recherche permanente de la perfection d'écoute</i><i>&nbsp;et un sens du travail bien fait sans égal.<br>
				Home cinémas, salles de concerts, fabrication d'amplificateurs sur mesure et en série (SPECTALIZER) ainsi que services de conception et mesures acoustiques constituent la base de l'offre de cette entreprise Lyonnaise qui rassemble 29 passionnés et experts dans ces domaines d'intervention.</i><br>
				<i>SPECTASONIC garantit la qualité d'un son sans perte de qualité et sans défaillance.</i><br>
				<br>
				<i> José Gaultier, président directeur général de SPECTASONIC&nbsp;</i></p>

		</div>

		<div>
			{# Partie à prévoir, dmeander ce qu'il en est véritablement #}
			<h2>
				Location de matériels
			</h2>

			<ul class="list-unstyled">
				<li>
					<a href="#">
							Avis des experts
					</a>
				</li>
				<li>
					<a href="#">
							F.A.Q.
					</a>
				</li>
			</ul>
		</div>

{% endblock body %}