{% extends "::base.html.twig" %}

{% block title %}A propos{% endblock title %}


	{% block body %}

		<div class="blog">






			<div class="items-leading">
				<div class="leading-0">
					<h2>
						L'équipe de direction			</h2>





						<p>
							L'équipe de direction de SPECTASONIC s'engage depuis 1983 aux côtés de ses collaborateurs en leur apportant la vision et les moyens nécessaires pour mener à bien leurs missions.</p>
							<p>
								Mr José Gaultier est le PDG de la société depuis sa création en 1983.</p>



								<div class="item-separator"></div>
							</div>
						</div>

						<div class="items-row cols-2 row-0">
							<div class="item column-1">
								<h2>
									La Direction s'engage			</h2>





									<p>
										SPECTASONIC est nativement habité par un concept clair et sans compromis : la qualité maximale.</p>
										<p>
											<em>"Nos clients sont exigents et cela n'est pas une contrainte pour nous, bien au contraire - cela constitue une motivation et une raison d'être.<br>
												<br>
												La qualité est au centre de nos préoccupations. Notre équipe est engagée sur cette voie depuis sa création en 1983 et l'évaluation de son travail tient compte de la satisfaction qui ne peut qu'être totale des clients de SPECTASONIC.<br>
												<br>
												Enfin, c'est l'amour et la passion pour la perfection qui nous anime tous. Le beau n'est pas accessbile à tous en matière de son.<br>
												Nous savons vous conseiller et vous guider dans cette quête ultime grâce à nos créations."</em></p>
												<h1>
													Qualité constante</h1>
													<p>
														Nos produits sont certifiés ISO 9001 et le processus de certification a débuté dès 2003 sous l'impulsion de Mr Gaultier qui a personnellement mené ce dossier à terme.<br>
														Rapidement, l'entreprise a adopté ce standard comme continuation logique de notre philosophie. Tous les ans, la certification est renouvelée et nous nous améliorons en permanence.&nbsp;</p>
														<h1>
															Innovation, pas "gadgétisation"</h1>
															<p>
																Les effets de mode en HIFI sont nombreux et prudence à ceux qui succombent à leurs sirènes. Chez SPECTASONIC, nous patientons plusieurs années avant de considérer une technologie comme mature. En participant aux salons mondiaux de la profession, nous restons à la pointe du progrès sans toutefois se jeter trop rapidement sur les innovations en devenir, en particulier en ce qui concerne la robustesse des produits sur le long terme.</p>



																<div class="item-separator"></div>
															</div>
															<span class="row-separator"></span>
														</div>








													</div>

													<hr/>
													<div class="items-leading">
														<div class="leading-0">
															<h2>
																Qui sommes-nous?			</h2>





																<p>
																	<img style="margin-left: 10px; margin-right: 10px; float: left; width: 150px; height: 96px; " src="http://87.106.251.51/PROD/spectasonic/files/images/showroom.png" alt="">SHOWROOM FRANCE<br>
																	102 rue Garibaldi<br>
																	69006 Lyon - France<br>
																	04 81 68 06 97<br>
																	<br>
																	ATTENTION : Sur réservation seulement, notre showroom ne reçoit le public sans réservation et n'est pas accessible depuis la rue. Merci de votre compréhension.<br>
																	<br>
																	<br>
																	<br>
																	&nbsp;</p>
																	<p>
																		<img style="margin-left: 10px; margin-right: 10px; float: left; width: 150px; height: 84px; " src="http://87.106.251.51/PROD/spectasonic/files/images/local.png" alt="">SIEGE ET MANUFACTURE<br>
																		4 chemin du Moulin<br>
																		69344 Sourcieux les Mines<br>
																		04 81 68 06 97<br>
																		<br>
																		Pas de visite en dehors des relations commerciales habituelles et sur rendez vous.</p>



																		<div class="item-separator"></div>
																	</div>
																</div>

																<div class="items-leading">
																	<div class="leading-0">

																		<h2>
																			A propos de Spectasonic			</h2>



																			<hr/>

																			<p>
																				<em>En 1954, Mr Gédéon Gaultier ouvre son atelier à Lyon, &nbsp;rue Garibaldi. &nbsp;Il fabrique son premier amplificateur à lampes qu'il baptise le "Gédéon 1".</em></p>
																				<p>
																					<em>En 1992, il confie les rennes de sa petite entreprise à son fils, José, qui la fait prospérer avec seulement deux ouvriers et ce jusqu'en 2006.</em></p>
																					<p>
																						<em>Le SPECTALIZER connaît un développement significatif de son activité.</em></p>
																						<p>
																							<em><em>En 2008, le fils de M. José Gaultiera fort d'une formation MBA à l'EM Lyon décide de donner un coup d'accélérateur puissant à son entreprise. Muni d'un business plan conséquent, il fait appel au fond DELTA FINANCES afin de financer sa croissance.</em></em></p>
																							<p>
													<em><em><em><em>En 2011, l'entreprise emploie 25 personnes et livre ses amplificateurs partout dans le monde. Elle propose aussi des prestations d'installation et d'audit.&nbsp;</em></em></em></em></p>
													<p>
														<em>En 2012, le projet d'ouverture d'un site marchand en ligne est validé.</em></p>
														<p>
															En 2014, après trois années de préparation, SPECTASONIC rachète l'entreprise dublinoise RICHER Ltd, fabricant d'amplificateur sur mesure afin de déployer son activité dans le monde anglophone.</p>
															<p>
																En 2015, l'entreprise compte presque salariés 50 sur la France, l'Irlande et la Bulgarie</p>
																<p>
																	Et ce n'est qu'un début....la suite de l'histoire : c'est peut être VOUS qui allez l'écrire !</p>



																	<div class="item-separator"></div>
																</div>
															</div>
														{% endblock body %}